.email {
  padding-bottom: 80px;
  &__contr {
    display: flex;
    justify-content: space-between;
    max-width: 440px;
    height: 53px;
    margin-right: 25px;
    outline: 1px solid hsl(0, 12%, 79%);
    border-radius: 55px;
    text-align: center;
    &.isInvalid {
      outline: 2px solid hsl(0, 67%, 71%);
    }
    &__input {
      flex-shrink: 1;
      border: none;
      background: inherit;
      font-family: inherit;
      font-size: 16px;
      padding-top: 4px;
      padding-left: 30px;
      padding-right: 20px;
      width: 100%;
      &::placeholder {
        color: hsl(0, 36%, 70%, 0.5);
      }
    }
    &__errorSignAndButton {
      position: relative;
      width: 138px;
      flex-shrink: 0;
      padding-top: 10px;
      .errorImg {
        padding-top: 5px;
        display: none;
        &.isInvalid {
          display: block;
        }
      }
      .button {
        position: absolute;
        left: 30px;
        bottom: -1px;
        display: block;
        width: 98px;
        height: 55px;
        padding: 0;
        margin-left: 12px;
        border-radius: 54px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        outline: inherit;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        box-shadow: 10px 14px 20px hsl(0, 21%, 82%);
        .arrowImg {
          padding-top: 3px;
        }
        &.isInvalid {
          height: 56px;
        }
        &:hover {
          background: linear-gradient(
            135deg,
            hsl(0, 80%, 92%),
            hsl(0, 74%, 88%)
          );
          box-shadow: 0 15px 20px hsl(0, 46%, 82%);
        }
      }
    }
  }
  &__invalidMessage {
    &.isInvalid {
      display: block;
    }
    display: none;
    margin-top: 13px;
    margin-left: 31px;
    font-size: 13px;
    color: hsl(0, 67%, 71%);
  }
}
